body {
    background-color:grey;
}

.globo{
    width: 10%; 
    margin-top: 2mm;
    margin-left: 2mm;
    margin-bottom: 1mm;
}

.maenatureza{
    size: 10%;
    margin-top: 100mm;
    margin-left: 2mm;
    margin-bottom: 1mm;
}
